<script lang="ts">
  import { afterNavigate } from '$app/navigation';

  import '../../app.css';
  import logo from '$lib/assets/images/ncae_cybergames_logo.png';

  import Footer from '$lib/components/layout/Footer.svelte';
  import Navbar from '$lib/components/layout/Navbar.svelte';
  import ScrollToTop from '$lib/components/layout/ScrollToTop.svelte';
  import Lightbox from '$lib/components/ui-elements/Lightbox.svelte';
  import Spinner from '$lib/components/ui-elements/Spinner.svelte';

  import { isNavLink, isNavTab, type NavLink, type NavTab } from '$lib/interfaces/navigation.interface';
  import { lightboxState } from '$stores/lightboxStore';
  import { createClient } from '../../authService';
  import navTabs from '$lib/components/layout/data/nav-tabs';
  import { isAuthenticated, keycloakClient } from '$stores/authStore';

  let currentLink: NavLink | null = null;
  // we don't want handle "navigation" events on initial page load
  // because they can cause an auth loop and eventually a 414 from Keycloak
  let handleNavigation = false;
  let displayHelp = false;

  /**
   * Create the Keycloak Client, then check if the user has permission to view the current page
   */
  async function checkAuth() {
    setTimeout(() => (displayHelp = true), 2000);
    await createClient();
    await handleNav(window.location);
    handleNavigation = true;
  }

  function findCurrentNavLink(nav: Array<NavTab | NavLink>, location: URL | Location): NavLink | null {
    for (const n of nav) {
      if (isNavTab(n)) {
        let result = findCurrentNavLink(n.links, location);
        if (result) return result;
      }

      if (isNavLink(n) && (n.href === location.pathname || n.href === location.pathname + location.hash)) return n;
    }

    return null;
  }

  async function handleNav(location: URL | Location) {
    currentLink = findCurrentNavLink(navTabs, location);
    if (currentLink?.authRequired && !$isAuthenticated) {
      console.warn('not authenticated, redirecting to login');
      $keycloakClient.login();
    }
  }

  afterNavigate((navigation) => {
    if (!handleNavigation || !navigation.to) return; // not a navigation we can handle
    handleNav(navigation.to.url);
  });
</script>

{#if $lightboxState.isOpen}
  <Lightbox />
{/if}

{#await checkAuth()}
  <div class="flex flex-col items-center justify-center min-h-screen text-cyber-blue-900">
    <div class="block m-20">
      <img src={logo} alt="brand" class="h-28" />
    </div>
    <div class="flex flex-col items-center justify-center m-10">
      <Spinner size="20" />
      <h1 class="text-2xl font-mono font-semibold pt-5">Loading the NCAE CYBER GAMES</h1>
      {#if displayHelp}
        <h1 class="pt-5">
          This is taking longer than usual. If the page doesn't load, please reach out to
          <a href="mailto:support@c2games.org">support@c2games.org</a>
        </h1>
      {/if}
    </div>
  </div>
{:then _}
  <div class="relative min-h-screen flex flex-col text-cyber-blue-900">
    <Navbar />
    <main class="flex-grow h-full">
      <slot />
      <ScrollToTop />
    </main>
    <Footer />
  </div>
{:catch e}
  <div class="flex items-center min-h-screen text-cyber-blue-900 flex-wrap max-w-full">
    <div class="">
      <p>Uh oh! We've had a major hiccup, and it looks like the site is down.</p>
      <p>
        Please report this to us in Discord or at
        <a href="mailto:support@c2games.org">support@c2games.org</a>
      </p>
      {#if e?.stack}
        <p class="p-1">Please Include the following information:</p>
        <pre>
          {e.stack}
        </pre>
      {/if}
    </div>
  </div>
{/await}
