<script lang="ts">
  import HeroBanner from '$lib/components/layout/HeroBanner.svelte';
  import Finalists from '$lib/components/pages/home/Finalists.svelte';
  import Info from '$lib/components/pages/home/Info.svelte';
  import InfoCards from '$lib/components/pages/home/InfoCards.svelte';
  import PageHeader from '$lib/components/layout/PageHeader.svelte';

  export const prerender = true;
</script>

<PageHeader title="Home" />

<HeroBanner binary>
  <h1 class="text-3xl lg:text-6xl xl:text-9xl font-bold">All Play Mode</h1>
  <h1 class="text-6xl lg:text-9xl xl:text-xxl italic font-black">Enabled</h1>
  <h1 class="text-2xl lg:text-5xl xl:text-7xl">
    Welcome to the <span class="font-semibold">NCAE CYBER GAMES</span>
  </h1>
</HeroBanner>

<div class="mt-20">
  <Info />

  <InfoCards />

  <Finalists />
</div>
