<script lang="ts">
  export let items: unknown[] | undefined = undefined;
  export let idx = 0;
  export { clazz as class };

  let clazz = '';
</script>

{#if items && idx !== items.length - 1}
  <div class="border-b border-gray-300 {clazz}" />
{/if}
