<script lang="ts">
  export let size: 'sm' | 'md' | 'lg';
  export let secondary = false;
  export let wrap = false;
  export { clazz as class };
  let clazz = '';

  const sizes = {
    sm: 'mx-2 lg:mx-4 px-2 lg:px-4 xl:px-8 text-2xl sm:text-2xl md:text-2xl lg:text-3xl xl:text-4xl',
    md: 'mx-4 lg:mx-6 px-4 lg:px-8 xl:px-12 text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl',
    lg: 'mx-4 lg:mx-6 px-4 lg:px-8 xl:px-12 text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl'
  };
</script>

<div class="relative text-center mb-4 lg:mb-6 min-w-fit {clazz}">
  <div class="bg-cyber-blue-900 absolute h-full w-full top-1/3 -z-10" />
  <h1
    class="{sizes[size]} uppercase font-bold bg-slate-100
          {secondary ? 'text-secondary' : 'text-cyber-blue-900'}
          {wrap ? 'whitespace-normal' : 'whitespace-nowrap'}">
    <slot />
  </h1>
</div>
