<script lang="ts">
  import { fade } from 'svelte/transition';
  import { lightboxState } from '../../../stores/lightboxStore';
</script>

<div
  class="w-screen h-screen fixed top-0 left-0 flex justify-center items-center bg-gray-100/90 z-10"
  on:click={() => lightboxState.set({ isOpen: false, data: {} })}
  transition:fade>
  <div class="rounded-md px-8 py-10 relative" on:click|stopPropagation>
    {#if $lightboxState?.data?.src}
      <iframe
        width="647"
        height="364"
        src={$lightboxState?.data?.src}
        title={$lightboxState?.data?.title}
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen />
    {/if}
  </div>
</div>
