<script lang="ts">
  import { fade } from 'svelte/transition';

  export let title = '';
  export let open = false;
</script>

{#if open}
  <div
    class="w-screen h-screen fixed top-0 left-0 flex justify-center items-center bg-gray-100/90 z-[1000]"
    on:click={() => (open = false)}
    transition:fade={{ duration: 200 }}>
    <div
      class="rounded-md relative border border-cyber-blue-900 bg-white flex flex-col m-1 md:w-3/4 lg:w-1/2 max-h-[80%]"
      on:click|stopPropagation>
      {#if $$slots.title}
        <slot name="title" />
      {:else}
        <h1 class="font-bold text-2xl text-secondary p-4 border-b border-cyber-blue-900">{title}</h1>
      {/if}
      <div class="overflow-auto">
        <slot />
      </div>
      {#if $$slots.footer}
        <slot name="footer" />
      {:else}
        <div class="border-t border-cyber-blue-900 py-4 px-4">
          <button class="bg-cyber-blue-900 text-center text-white text-2xl w-full py-4" on:click={() => (open = false)}
            >Close</button>
        </div>
      {/if}
    </div>
  </div>
{/if}
