<script lang="ts">
  import PageHeader from '$lib/components/layout/PageHeader.svelte';
  import HeroBanner from '$lib/components/layout/HeroBanner.svelte';
  import { html } from '$lib/assets/content/rules.md';

  export const prerender = true;
</script>

<PageHeader title="Rules" />

<HeroBanner>
  <h1 class="my-10" slot="title">2023 NCAE Cyber Games Rules</h1>
</HeroBanner>

<section class="text-cyber-blue-900 px-10 pb-10">
  {@html html}
</section>
