<script lang="ts">
  import PageHeader from '$lib/components/layout/PageHeader.svelte';
  import HeroBanner from '$lib/components/layout/HeroBanner.svelte';
  import { getEvents, type Event } from '$lib/util/apiHelpers.js';
  import ScheduleItem from '$lib/components/ui-elements/ScheduleItem.svelte';
  import _ from 'lodash';
  import { faInfoCircle } from '@fortawesome/free-solid-svg-icons';
  import Fa from 'svelte-fa';
  import type { GroupedEventsByMonth } from '$lib/interfaces/schedule';
  const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] as const;

  let events = getEvents().then((data) => {
    data.sort(function (a, b) {
      // @ts-ignore: date math is apparently fine here
      return a.startsOn - b.startsOn;
    });

    // Group by month and store in tmp var
    const tmp = _.groupBy<Event>(data, ({ startsOn }) => `${monthNames[startsOn.getMonth()]}`);
    const grouped: GroupedEventsByMonth = {};

    // Then group each month object by day of month, and store as grouped
    for (const group in tmp) {
      grouped[group] = _.groupBy<Event>(tmp[group], ({ startsOn }: Event) => startsOn.getDate());
    }

    return grouped;
  });
</script>

<PageHeader title="Schedule" />

<HeroBanner>
  <h1 class="my-10" slot="title">NCAE 2023 Schedule</h1>
</HeroBanner>

{#await events}
  <p>loading...</p>
{:then grouped}
  <section class="text-cyber-blue-900 text-center flex justify-center px-5 2xl:px-72 pb-5 ">
    <div class="w-full">
      <div role="alert" class="pt-5 mb-12">
        <div class="bg-blue-400 text-white font-bold rounded-t px-4 py-2 ">
          <Fa class="inline-block" icon={faInfoCircle} />
          Registration Information
        </div>
        <div class="border border-t-0 border-blue-400 rounded-b bg-blue-100 px-4 py-3">
          Please note that registration ends <b>9 days</b> before the scheduled event date, and team rosters must be
          finalized <b>2 days</b> before the event. Participants must be actively attending an
          <a href="https://www.caecommunity.org/cae-map" target="_blank">NCAE-C School</a>. For more details, please see
          the
          <a href="/rules">Rules Page</a>
        </div>
      </div>
      {#each Object.entries(grouped) as [key, value] (key)}
        <div class="relative flex pt-5 items-center">
          <span class="flex-shrink text-2xl text-gray-500 px-4 italic font-light">{key} 2023</span>
          <div class="flex-grow border-t border-gray-400" />
        </div>
        <ScheduleItem events={value} />
      {/each}
    </div>
  </section>
{/await}
