<script lang="ts">
  import PageHeader from '$lib/components/layout/PageHeader.svelte';
  import HeroBanner from '$lib/components/layout/HeroBanner.svelte';
  import { html } from '$lib/assets/content/terms-and-conditions.md';

  export const prerender = true;
</script>

<PageHeader title="Terms and Conditions" />

<HeroBanner>
  <h1 class="my-10" slot="title">Terms and Conditions</h1>
</HeroBanner>

<section class="text-cyber-blue-900 px-10 pb-10">
  {@html html}
</section>
