<script lang="ts">
  import type { EventTeam } from '$lib/util/apiHelpers';
  import { keycloakTokenParsed, userId } from '$stores/authStore';
  import Badge from '$lib/components/ui-elements/Badge.svelte';
  import Fa from 'svelte-fa';
  import { faEnvelope, faTrash, faX } from '@fortawesome/free-solid-svg-icons';
  import { hasApiRole } from '$lib/components/layout/data/nav-tabs';

  export let team: EventTeam;
  export let removeMember: ((id: number) => void) | undefined = undefined;
  export let deleteTeam: ((teamId: number) => void) | undefined = undefined;
  export let admin = hasApiRole($keycloakTokenParsed, 'event_admin');
  export { clazz as class };
  export let hideControls = false;

  let clazz: string | undefined = undefined;
</script>

<table class="table-auto border-none w-full {clazz || ''}">
  <tbody>
    {#each team.eventTeamUsers || [] as member}
      <tr class="w-full max-w-xl hover:bg-cyber-gray-200">
        <td class="w-2/3 p-1" class:font-bold={member.id === $userId}>
          {member.user?.email}
          {#if team.createdByUserId === member.user?.id}
            <br class="md:hidden" />
            <Badge color="blue">Team Captain</Badge>
            {#if $userId !== member.user.id}
              <!-- Display a contact link if the current user isn't the team captain -->
              <a href="mailto:{member.user.email}">
                <Badge color="slate">
                  <Fa icon={faEnvelope} class="inline-block" /> Contact
                </Badge>
              </a>
            {/if}
          {/if}
        </td>
        {#if !hideControls}
          <td class="w-1/3 p-1 content-end">
            {#if removeMember && (admin || (member.user?.id !== $userId && team.createdByUserId === $userId))}
              <button
                class="bg-cyber-blue-900 text-white font-semibold py-1 px-2 m-1 float-right"
                on:click={() => removeMember?.(member.id)}>
                <Fa class="inline-block" icon={faX} />
                <span class="hidden md:inline-block">Remove</span>
              </button>
            {/if}
            {#if deleteTeam && team.createdByUserId === member.user?.id && (admin || team.createdByUserId === $userId)}
              <button
                class="bg-red-500 text-white font-semibold py-1 px-2 m-1 float-right"
                on:click={() => deleteTeam?.(team.id)}>
                <Fa class="inline-block" icon={faTrash} />
                <span class="hidden md:inline-block">Delete Team</span>
              </button>
            {/if}
          </td>
        {/if}
      </tr>
    {/each}
  </tbody>
</table>
