<script lang="ts">
  import HeroBanner from '$lib/components/layout/HeroBanner.svelte';
  import PageHeader from '$lib/components/layout/PageHeader.svelte';
  import UserDashboard from '$lib/components/pages/user-dashboard/UserDashboard.svelte';
  import TeamManagement from '$lib/components/pages/user-dashboard/TeamManagement.svelte';
  import DiscoverTeams from '$lib/components/pages/user-dashboard/DiscoverTeams.svelte';
  import UserInfo from '$lib/components/pages/user-dashboard/UserInfo.svelte';
  import AccountLink from '$lib/components/pages/user-dashboard/AccountLink.svelte';
  import discordImg from '$lib/assets/images/user_page/discord-mascot.png';
  import linkedinImg from '$lib/assets/images/user_page/linkedIn_icon_circle.png';
  import { afterNavigate } from '$app/navigation';
  import { page } from '$app/stores';
  import { onMount } from 'svelte';

  type Tab = {
    title: string;
    slug: string;
    component: typeof UserDashboard;
  };
  const tabs = [
    { title: 'Account', slug: '#account', component: UserDashboard },
    { title: 'Team Management', slug: '#team-management', component: TeamManagement },
    { title: 'Discover Teams', slug: '#discover', component: DiscoverTeams }
  ];
  let activeTab: Tab = tabs[0];
  const linkURL = `${import.meta.env.VITE_KEYCLOAK_URL}/realms/${import.meta.env.VITE_KEYCLOAK_REALM}/account/identity`;

  function handleNavTabs(tabSlug: string) {
    const matchingTabs = tabs.filter((t) => t.slug === tabSlug);
    if (matchingTabs.length > 0) activeTab = matchingTabs[0];
  }

  // Handle navbar navigation from another page
  afterNavigate((navigation) => {
    if (navigation.to) handleNavTabs(navigation.to.url.hash);
  });

  onMount(() => {
    handleNavTabs(window.location.hash);
  });

  // Handle navbar navigation from within the user-dashboard page
  page.subscribe((page) => {
    handleNavTabs(page.url.hash);
  });

  function selectTab(tab: Tab) {
    activeTab = tab;
    window.location.hash = tab.slug;
  }
</script>

<PageHeader title="Account Management" />

<HeroBanner>
  <h1 slot="title">Account Management</h1>
</HeroBanner>

<div class="flex flex-col lg:flex-row">
  <div class="pt-1 lg:pt-5 lg:border-r-2 lg:w-fit lg:max-w-[33%]">
    <UserInfo />
    <div class="grid grid-cols-2 gap-5 mx-3 my-3">
      <AccountLink logoText="Discord" logoImg={discordImg} {linkURL} />
      <AccountLink logoText="LinkedIn" logoImg={linkedinImg} {linkURL} />
    </div>
    <ul class="flex lg:flex-col justify-evenly gap-5 p-5 bg-cyber-blue-900">
      {#each tabs as tab}
        <h1
          class={`text-xl xl:text-2xl ${
            activeTab.slug === tab.slug ? 'text-secondary' : 'text-white'
          } cursor-pointer font-semibold whitespace-nowrap`}
          on:click={() => selectTab(tab)}>
          {tab.title}
        </h1>
      {/each}
    </ul>
  </div>
  <svelte:component this={activeTab.component} />
</div>
