<script lang="ts">
  import finalists, { winner } from '$lib/components/pages/home/final-roster-2021';

  const regions = Object.keys(finalists);
  const numRegions = regions.length;
  const getSchools = (region: string) => finalists[region as keyof typeof finalists];
</script>

<div class="flex flex-col items-center mx-10 lg:mx-10 xl:mx-auto xl:w-4/5 mb-20 bg-slate-100 p-5">
  <h1
    class="col-start-2 text-4xl lg:text-6xl font-semibold text-cyber-blue-900 text-center mb-5 pb-2 px-10 border-b uppercase">
    2021 Season Champion
  </h1>
  <div class="w-4/5 md:w-2/5 flex mx-auto md:col-start-2">
    <img class="object-scale-down" src={winner.imageUrl} alt={winner.name} title={winner.name} />
  </div>

  <h1
    class="text-4xl lg:text-6xl font-semibold text-cyber-blue-900 text-center mt-10 md:mt-20 md:mb-10 pb-2 px-10 border-b uppercase">
    2021 Season Finalists
  </h1>

  <div class="regiongrid flex flex-col md:grid text-center" style="--num-cols: {numRegions}">
    {#each regions as region}
      <div class="flex flex-col items-center mt-10 md:mt-0 md:border-l-2 first:border-l-0 px-10 h-fit">
        <h1 class="text-2xl xl:text-4xl text-cyber-blue-900 font-semibold border-b-2 pb-2 mb-2 uppercase">
          {region}
        </h1>
        <div class="flex md:flex-col flex-wrap items-center justify-center mt-2 overflow-visible">
          {#each getSchools(region) as s}
            <div class="xl:p-4 w-1/2 md:w-full">
              <img class="aspect-square object-scale-down" src={s.imageUrl} alt={s.name} title={s.name} />
            </div>
          {/each}
        </div>
      </div>
    {/each}
  </div>
</div>

<style>
  .regiongrid {
    grid-template-columns: repeat(var(--num-cols), minmax(0, 1fr));
  }
</style>
