<script lang="ts">
  import { cards } from './cards';
</script>

<!-- Desktop -->
<section class="hidden xl:block relative">
  <!-- Background Stripe -->
  <div class="hidden lg:block h-1/2 w-full bg-cyber-blue-900 absolute top-1/4 -z-10" />

  <!-- Cards -->
  <div class="h-fit mt-16 lg:mb-32 flex flex-nowrap flex-col lg:flex-row justify-evenly">
    {#each cards as card}
      <div
        class={`flex flex-col justify-evenly ${card.background} lg:w-[30%] text-white text-center shadow-lg shadow-cyber-blue-900`}>
        <h1 class="p-4 text-4xl uppercase font-black leading-relaxed">{card.header}</h1>
        <div class="backdrop-blur-md backdrop-brightness-75 p-4 w-full text-lg">
          {#each card.paragraphs as paragraph}
            <p class="mt-2 first:mt-0 text-white">{paragraph}</p>
          {/each}
        </div>
      </div>
    {/each}
  </div>
</section>

<!-- Mobile -->
<section class="xl:hidden relative">
  <div class="my-4">
    <ul class="">
      {#each cards as card}
        <li>
          <div
            class={`w-full aspect-[6/1] text-white ${card.background} flex flex-col justify-center h-full p-2 shadow-cyber-blue-900 shadow-md`}>
            <div class="text-4xl uppercase text-center font-black lg:leading-relaxed">
              {card.header}
            </div>
          </div>
          <div class="p-6">
            {#each card.paragraphs as paragraph}
              <p class="mt-2 first:mt-0">{paragraph}</p>
            {/each}
          </div>
        </li>
      {/each}
    </ul>
  </div>
</section>
