<script lang="ts">
  import { videos } from './videos';
</script>

<div class="hidden 2xl:block">
  <section class="flex flex-col lg:flex-row justify-between mb-1">
    <div
      class="bg-[url('$lib/assets/images/home/hacker.jpg')] bg-cover bg-no-repeat bg-[center_top_-6.5rem] object-fit flex-1" />
    <section class="lg:ml-1 w-full lg:w-2/3 bg-cyber-blue-900 text-center pt-6 pb-6 pl-8 pr-8">
      <h1 class="text-secondary text-3xl font-bold uppercase">
        The collegiate competition for <em>first-time competitors!</em>
      </h1>
      <p class="text-xl leading-9 text-white font-normal pt-3">
        Welcome to the home of the National Centers of Academic Excellence in Cybersecurity (NCAE-C) national
        competition! NCAE Cyber Games is dedicated to inspiring college students to enter the exciting (and sometimes
        profitable!) realm of cyber competitions. Cyber competitions are a valuable addition to any college student’s
        resume, but they can be intimidating for first-timers. NCAE Cyber Games is creating a new style of collegiate
        cybersecurity competition, <b>one for college students who have never competed before</b> where they can learn about
        cyber competitions in an environment focused on teamwork, building confidence, and growing your skills! If you’ve
        ever wondered how hackathons and cyber competitions work and wanted to try it out for yourself, you’re in the right
        place!
      </p>
    </section>
  </section>

  <section class="flex flex-nowrap justify-evenly">
    <section
      class="hidden xl:block w-[432px] max-h-[568px] bg-cyber-blue-900 text-center pt-10 pb-10 pl-7 pr-7 relative bottom-20 border-4">
      <h1 class="text-secondary text-[65px] leading-[73px] font-bold uppercase">Who can enter?</h1>
      <p class="text-xl text-white font-normal pt-3 leading-[46px]">
        Any student from an <b>NCAE-C school</b> who is new to competitions may register. Don’t worry if you don’t have a
        team or faculty advisor; the NCAE Cyber Games team will help build teams at any NCAE-C college with interested students!
      </p>
    </section>
    <section class="w-2/3">
      <section class="text-center mt-10 mb-10">
        <h1 class="text-cyber-blue-900 text-[54px] font-semibold uppercase">
          Advice for first-timers from <span class="text-secondary font-extrabold">HACK@UCF</span>
        </h1>
        <h2 class="font-light italic text-lg">
          Advice for new competitors from members of the University of Central Florida's championship hacking team
        </h2>
      </section>
      <div class="flex flex-nowrap justify-between gap-5">
        {#each videos as video}
          <div>
            <iframe
              src={`https://www.youtube-nocookie.com/embed/${video.url}`}
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen />
            <div
              class="text-center text-2xl font-medium tracking-[.2em] text-white bg-cyber-blue-900 pt-1 pb-1 uppercase">
              {video.title}
            </div>
          </div>
        {/each}
      </div>
    </section>
  </section>
</div>

<div class="2xl:hidden">
  <div
    class="bg-[url('$lib/assets/images/home/hacker.jpg')] bg-cover bg-[center_top_-7.5rem] lg:bg-[center_top_-20rem] h-32" />
  <section class="">
    <h1 class="text-center text-secondary py-6 text-3xl font-bold uppercase bg-cyber-blue-900">
      The collegiate competition for <em>first-time competitors!</em>
    </h1>
    <p class="text-l font-normal p-6">
      Welcome to the home of the National Centers of Academic Excellence in Cybersecurity (NCAE-C) national competition!
      NCAE Cyber Games is dedicated to inspiring college students to enter the exciting (and sometimes profitable!)
      realm of cyber competitions. Cyber competitions are a valuable addition to any college student’s resume, but they
      can be intimidating for first-timers. NCAE Cyber Games is creating a new style of collegiate cybersecurity
      competition, <b>one for college students who have never competed before</b> where they can learn about cyber competitions
      in an environment focused on teamwork, building confidence, and growing your skills! If you’ve ever wondered how hackathons
      and cyber competitions work and wanted to try it out for yourself, you’re in the right place!
    </p>
  </section>
  <section class="pt-6 pb-6">
    <h1 class="text-center text-secondary text-3xl font-bold uppercase bg-cyber-blue-900">Who can enter?</h1>
    <p class="text-l font-normal p-6">
      Any student from an <b>NCAE-C school</b> who is new to competitions may register. Don’t worry if you don’t have a team
      or faculty advisor; the NCAE Cyber Games team will help build teams at any NCAE-C college with interested students!
    </p>
  </section>
  <section class="hidden lg:block">
    <section class="text-center my-4">
      <h1 class="text-cyber-blue-900 text-[54px] font-semibold uppercase">
        Advice for first-timers from <span class="text-secondary font-extrabold">HACK@UCF</span>
      </h1>
      <h2 class="font-light italic text-lg">
        Advice for new competitors from members of the University of Central Florida's championship hacking team
      </h2>
    </section>
    <div class="flex flex-nowrap justify-evenly gap-5">
      {#each videos as video}
        <div>
          <iframe
            src={`https://www.youtube-nocookie.com/embed/${video.url}`}
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen />
          <div
            class="text-center text-2xl font-medium tracking-[.2em] text-white bg-cyber-blue-900 py-1 px-2 uppercase">
            {video.title}
          </div>
        </div>
      {/each}
    </div>
  </section>
</div>
