<script lang="ts">
  import { user } from '../../../stores/authStore';
</script>

{#if $user}
  <section class="p-8">
    <div><b>ID: </b>{$user.id}</div>
    <div><b>First Name: </b>{$user.firstName}</div>
    <div><b>Last Name: </b>{$user.lastName}</div>
    <div><b>Email: </b>{$user.email}</div>
  </section>
{/if}
