<script>
  import HeroBanner from '$lib/components/layout/HeroBanner.svelte';
  import FaqSection from '$lib/components/pages/faq/FaqSection.svelte';
  import PageHeader from '$lib/components/layout/PageHeader.svelte';

  export const prerender = true;
</script>

<PageHeader title="FAQ" />

<HeroBanner>
  <h1 slot="title">Start with the FAQs</h1>
</HeroBanner>

<section class="m-12 lg:m-24">
  <FaqSection>
    <h1 slot="heading">Having trouble getting started in the Sandbox?</h1>
    <p>Visit our <a href="https://ui.sandbox.ncaecybergames.org">How to Get Started</a> page.</p>
  </FaqSection>
  <FaqSection>
    <h1 slot="heading">
      I’d like to add more members to my team, but I’ve already submitted my team registration form.
    </h1>
    <p>
      You will be given an opportunity to add additional team members (up to the maximum of 10) to your team via Discord
      after your dedicated channel is provisioned.
    </p>
  </FaqSection>
  <FaqSection>
    <h1 slot="heading">What do I need to know for the competition? What should I do to prepare?</h1>
    <p>
      Check out the <a href="https://ui.sandbox.ncaecybergames.org" target="_blank">Sandbox</a> and
      <a href="/tutorials">Sandbox Tutorial Videos</a>! The Sandbox is the BEST way to prepare for the competition. What
      you will see and experience in the competition will be VERY similar to what you find in the Sandbox. Also, be sure
      to check out the video tutorials we’ve made to complement the Sandbox experience. Pro tip: get some sleep the
      night before and plan a healthy meal for lunch, you’ll need it!
    </p>
  </FaqSection>
  <FaqSection>
    <h1 slot="heading">Does my team have to use Discord?</h1>
    <p>
      Discord is the communication platform for the competition. Leading up to and during the competition, there will be
      heavy activity on Discord. While we can’t stop you from using your own server/communication mechanism, we strongly
      encourage you to be active on our server as you’ll miss critical information if you’re not at least monitoring it.
    </p>
  </FaqSection>
  <FaqSection>
    <h1 slot="heading">Who's watching my Discord channel? Is it safe to talk about competition topics and strategy?</h1>
    <p>
      Only your team members, the black team, the CTF team and the faculty member you designate are granted access to
      your private team channel, so it is a safe place to discuss strategy with your team. You can expect NCAE Cyber
      Games staff to drop into your channel periodically to chat with you throughout the competition.
    </p>
  </FaqSection>
  <FaqSection>
    <h1 slot="heading">How many members can I have on my team?</h1>
    <p>
      Each team may consist of up to 10 members. While teams with 1 member are allowed, we strongly encourage you to
      find other people who might be interested.
    </p>
  </FaqSection>
  <FaqSection>
    <h1 slot="heading">How many teams can I register in my school?</h1>
    <p>
      You’re allowed to register as many teams as you’d like. You must fill a full 10-person team prior to creating an
      additional one or have them be otherwise evenly split. Reach out to the <a
        href="https://discord.com/channels/624969095292518401/903447147750518785"
        target="_blank">
        #Help Channel in Discord
      </a> if you’re not sure how to create your team.
    </p>
  </FaqSection>
</section>
