<script lang="ts">
  export let logoImg = '';
  export let logoText = '';
  export let accountName = '';
  export let isLinked = false;
  export let linkURL = '';
  export let unlinkURL = '';
</script>

<div class="flex lg:flex-col items-center">
  <img class="aspect-square w-10 lg:w-16" src={logoImg} alt={logoText} />
  {#if isLinked}
    <span>Linked to:</span>
    <span>{accountName}</span>
    <a href={unlinkURL}>Unlink account</a>
  {:else}
    <a class="pl-4 lg:pl-0" href={linkURL}>Link {logoText}</a>
  {/if}
</div>
