<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import Spinner from '$lib/components/ui-elements/Spinner.svelte';
  import { getAchievementsForUser } from '$lib/util/apiHelpers';
  import { userId } from '../../../../stores/authStore';
  import completeImg from '$lib/assets/images/user_page/complete.png';

  const achievements = getAchievementsForUser($userId || 0);
</script>

<div class="flex flex-col h-full">
  <div class="w-full mb-5">
    <HeaderWithBackdrop size="md" secondary>Achievements</HeaderWithBackdrop>
  </div>
  {#await achievements}
    <div class="self-center my-auto">
      <Spinner />
    </div>
  {:then achievements}
    <ul class="flex flex-col gap-4 px-8">
      {#each achievements.sort((a, b) => +b.earnedOn - +a.earnedOn) as item}
        <li class="grid grid-cols-8">
          <div class="col-span-1">
            <img class="m-auto" src={completeImg} alt="Complete" />
          </div>
          <div class="ml-4 col-span-7 self-center">
            <span>
              <span class="font-semibold">{item.title}</span>
              <span class="italic text-cyber-blue-800">{item.earnedOn.toLocaleDateString()}</span>
            </span>
            <p>{item.description}</p>
          </div>
        </li>
      {/each}
    </ul>
  {:catch}
    <div class="flex h-full items-center justify-center mt-10 lg:mt-0">
      <h1 class="text-center italic">Unable to retrieve achievements.</h1>
    </div>
  {/await}
</div>
