<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import Spinner from '$lib/components/ui-elements/Spinner.svelte';
  import { getUserChecklistItemsForUser } from '$lib/util/apiHelpers';
  import { userId } from '$stores/authStore';
  import completeImg from '$lib/assets/images/user_page/complete.png';

  const checklistItems = getUserChecklistItemsForUser($userId || 0);
</script>

<HeaderWithBackdrop size="sm" secondary>Action Items</HeaderWithBackdrop>
<div class="flex flex-col h-full">
  {#await checklistItems}
    <div class="self-center my-auto">
      <Spinner />
    </div>
  {:then checklistItems}
    {#if !(checklistItems?.length > 0)}
      <p>Check back here soon for next steps!</p>
    {:else}
      <ul class="flex flex-col align-center gap-4 px-8">
        {#each checklistItems.sort( (a, b) => (!a.completedOn ? -1 : !b.completedOn ? 1 : +b.completedOn - +a.completedOn) ) as item}
          <li class="grid grid-cols-8">
            <div class="col-span-1">
              {#if item.completedOn}
                <img class="m-auto" src={completeImg} alt="Complete" />
              {:else}
                <div class="m-auto flex items-center justify-center bg-secondary rounded-full aspect-square w-16">
                  <span class="text-white text-center text-xs font-semibold uppercase -translate-y-2">
                    Not Complete
                  </span>
                </div>
              {/if}
            </div>
            <div class="ml-4 col-span-7 self-center">
              <span>
                <span class="font-semibold">{item.title}</span>
                {#if item.completedOn}
                  <span class="italic text-cyber-blue-800">{item.completedOn.toLocaleDateString()}</span>
                {/if}
              </span>
              <p>{item.description}</p>
            </div>
          </li>
        {/each}
      </ul>
    {/if}
  {:catch}
    <div class="flex h-full items-center justify-center mt-10 lg:mt-0">
      <h1 class="text-center italic">Unable to retrieve checklist items.</h1>
    </div>
  {/await}
</div>
