<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
</script>

<div>
  <section class="lg:w-fit">
    <HeaderWithBackdrop size="md" secondary>Authenticator</HeaderWithBackdrop>
  </section>

  <section class="text-lg mt-10">
    <ol class="flex flex-col gap-5">
      <li>
        <span class="text-secondary">1.</span> Install one of the following applications on your mobile device:
        <ul class="list-disc list-inside indent-8">
          <li>FreeOTP</li>
          <li>Google Authenticator</li>
        </ul>
      </li>
      <li class="w-fit">
        <span class="text-secondary">2.</span> Open the application and scan the barcode:
        <div class="flex flex-col">
          <div class="w-32 aspect-square bg-cyan-700 mx-auto mt-5" />
          <!--          <a href="javascript:void(0)" class="italic mx-auto">Unable to scan?</a>-->
        </div>
      </li>
      <li>
        <span class="text-secondary">3.</span> Enter the one-time code provided by the application and click Save to finish
        the setup. Provide a Device Name to help you manage the OTP devices.
      </li>
      <li>
        <form class="flex flex-col gap-5 text-xl font-semibold">
          <section>
            <label for="auth-code">One-Time Code</label>
            <input class="border rounded block w-full max-w-xs" id="auth-code" type="password" required />
          </section>
          <section>
            <label for="auth-name">Confirm New Password</label>
            <input class="border rounded block w-full max-w-xs" id="auth-name" type="text" />
          </section>
          <input class="cursor-pointer bg-cyber-blue-900 text-white py-1 px-10 w-fit" type="submit" value="Save" />
        </form>
      </li>
    </ol>
  </section>
</div>
