<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import Spinner from '$lib/components/ui-elements/Spinner.svelte';
  import { getBadgesForUser } from '$lib/util/apiHelpers';
  import { userId } from '../../../../stores/authStore';

  let badges = getBadgesForUser($userId || 0);
</script>

<div class="flex flex-col h-full">
  <div class="w-full mb-5">
    <HeaderWithBackdrop size="md" secondary>Badges</HeaderWithBackdrop>
  </div>
  {#await badges}
    <div class="self-center my-auto">
      <Spinner />
    </div>
  {:then badges}
    {#if badges.length}
      <ul class="grid grid-cols-3">
        {#each badges.sort((a, b) => +b.earnedOn - +a.earnedOn) as badge}
          <li class="flex flex-col items-center text-center">
            <img class="col-span-1 w-16 aspect-square" src={`${badge.imageUrl}`} alt={badge.title} />
            <h1 class="font-semibold">{badge.title}</h1>
            <h2 class="italic text-cyber-blue-800">{badge.earnedOn.toLocaleDateString()}</h2>
            <span>{badge.description}</span>
          </li>
        {/each}
      </ul>
    {:else}
      <div class="flex h-full items-center justify-center mt-10 lg:mt-0">
        <h1 class="text-center italic">No badges earned...yet!</h1>
      </div>
    {/if}
  {:catch}
    <div class="flex h-full items-center justify-center mt-10 lg:mt-0">
      <h1 class="text-center italic">Unable to retrieve badges.</h1>
    </div>
  {/await}
</div>
