<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
</script>

<div>
  <section class="lg:w-fit">
    <HeaderWithBackdrop size="md" secondary wrap>Change Password</HeaderWithBackdrop>
  </section>

  <form class="flex flex-col gap-5 text-xl font-semibold mt-10 w-full">
    <section>
      <label for="current-password">Current Password</label>
      <input class="border rounded block w-full max-w-xs" id="current-password" type="password" required />
    </section>
    <section>
      <label for="new-password">New Password</label>
      <input class="border rounded block w-full max-w-xs" id="new-password" type="password" required />
    </section>
    <section>
      <label for="confirm-password">Confirm New Password</label>
      <input class="border rounded block w-full max-w-xs" id="confirm-password" type="password" required />
    </section>
    <input class="cursor-pointer bg-cyber-blue-900 text-white py-1 px-10 w-fit" type="submit" value="Save" />
  </form>
</div>
