<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import { createEventTeam, createEventTeamUser, type Institution, tryParseApiError } from '$lib/util/apiHelpers';
  import type { EventTeam, Event } from '$lib/util/apiHelpers';
  import Alert from '../../ui-elements/Alert.svelte';
  import { getTeamCountByEventId } from '$lib/util/apiHelpers.js';

  export let events: Event[];
  export let institutions: Institution[];

  export let onCreate: (team: EventTeam) => Promise<void>;

  let result: string | null = null;
  let error: string | null = null;
  let selectedEventId: number;
  let selectedEvent: Event | null | undefined = null;
  let teamName: string;
  let institution: Institution | undefined;
  $: selectedEvent = events ? events.find((evt) => evt.id === selectedEventId) : null;
  $: if (institutions?.length === 1) institution = institutions[0];

  async function handleSubmit() {
    result = null;
    error = null;
    try {
      const team = await createEventTeam(selectedEventId, { name: teamName }, institution?.id);
      await createEventTeamUser(team.id, team.createdByUserId);
      void onCreate(team);
      result = 'Event Team created!';
    } catch (e: unknown) {
      error = tryParseApiError(e);
    }
  }

  function canCreateNewTeam(evt: Event): boolean {
    const currentDate = new Date();
    const diffTime = evt.startsOn.getTime() - currentDate.getTime();
    const diffDays = diffTime / (1000 * 3600 * 24);
    return evt.enabled && diffDays > 9;
  }
</script>

<div class="my-10">
  <section class="w-full">
    <HeaderWithBackdrop size="sm" secondary wrap>Create A Team</HeaderWithBackdrop>
  </section>

  <form
    class="flex flex-col gap-5 text-lg lg:text-xl font-semibold mt-10 w-full"
    on:submit|preventDefault={handleSubmit}>
    <section>
      <label for="team-name">Team Name</label>
      <input
        class="border rounded block w-full text-md font-normal p-1"
        id="team-name"
        type="text"
        disabled
        value={institution?.name || ''} />
    </section>
    <section>
      <label for="event">Event</label>
      <select id="event" class="border rounded block w-full" bind:value={selectedEventId}>
        {#each events as evt}
          {#if canCreateNewTeam(evt)}
            <option class="p-1" value={evt.id}>{evt.name} - {evt.startsOn.toLocaleString()}</option>
          {/if}
        {/each}
      </select>
    </section>
    {#if institutions?.length > 1}
      <section>
        <label for="institution">Institution</label>
        <Alert class="mt-1 mb-2 font-normal" color="blue">
          Multiple instructions detected, please select your institution from the list. If your institution is not
          displayed, please do <b>not</b> register using a school you are not actively attending. Reach out to
          <a href="mailto:support@c2games.org">support@c2games.org</a> if you believe there has been an error
        </Alert>
        <select id="institution" class="border rounded block w-full" bind:value={institution}>
          {#each institutions as inst}
            <option class="p-1" value={inst}>{inst.name}</option>
          {/each}
        </select>
      </section>
    {/if}
    {#if selectedEvent}
      <Alert color="orange">
        By registering a team, you agree to abide by all
        {#if selectedEvent.rules}
          <a class="text-blue" href={selectedEvent.rules}>Event Rules</a>.
        {:else}
          Event Rules
        {/if}
      </Alert>
      {#await getTeamCountByEventId(selectedEvent.id) then teamCount}
        {#if teamCount >= 12}
          <Alert color="red">
            This event is currently at capacity with {teamCount} out of 12 teams registered. Slots may open again; check
            back later or contact <a href="mailto:support@c2games.org">support@c2games.org</a> for assistance if needed.
          </Alert>
        {:else if teamCount > 8}
          <Alert color="yellow">
            This event is nearly at capacity with {teamCount} out of 12 teams registered. If this event reaches capacity,
            new teams can not be registered until a slot is available. Please contact contact
            <a href="mailto:support@c2games.org">support@c2games.org</a> for assistance if needed.
          </Alert>
        {/if}
      {/await}
      <div class="w-full">
        <input
          class="cursor-pointer bg-cyber-blue-900 text-white py-1 px-10 w-full lg:w-fit lg:float-right"
          type="submit"
          value="Register Team" />
      </div>
    {/if}
  </form>
  {#if result}
    <Alert color="green" class="pt-2">
      <div slot="title">Team Created!</div>
      {result}
    </Alert>
  {/if}
  {#if error}
    <Alert color="red" class="pt-2">
      <div slot="title">Team Creation Failed</div>
      {error}
    </Alert>
  {/if}
</div>
