<script lang="ts">
  import { getEventTeamsByDomain } from '$lib/util/apiHelpers';
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import TeamTable from '$lib/components/pages/team-dashboard/TeamTable.svelte';
  import { userId } from '$stores/authStore.js';
  import Divider from '$lib/components/ui-elements/Divider.svelte';
  import Alert from '$lib/components/ui-elements/Alert.svelte';

  async function getTeams() {
    // don't display teams with the current user on it
    return (await getEventTeamsByDomain()).filter((t) => !t.eventTeamUsers?.find((u) => u.userId === $userId));
  }
</script>

<div class="my-10 w-full">
  <section class="flex flex-col mx-5 xl:mx-auto xl:w-2/3">
    <div class="flex flex-col">
      {#await getTeams() then teams}
        <!-- todo de-duplicate this code with <ExistingTeams> -->
        {#if teams?.length > 0}
          <section class="w-full pt-4">
            <HeaderWithBackdrop size="sm" secondary wrap>Discover Existing Teams</HeaderWithBackdrop>
            <p>
              These Teams already exist at <i>your Institution</i>. Interested in joining one? Contact the team captain
              today!
            </p>
            {#each teams as team, idx}
              <div class="ml-2 mt-3 col-span-3 self-center">
                <div class="grid grid-cols-1 lg:grid-cols-2">
                  <div class="">
                    <span class="font-bold">Team: </span>{team.name}
                  </div>
                  <div>
                    <span class="font-bold">Event: </span>{team.event?.name}
                  </div>
                </div>
              </div>
              <div class="ml-2 mb-2 col-span-3 self-center">
                <TeamTable {team} hideControls />
              </div>

              <Divider items={Object.keys(teams)} {idx} />
            {/each}
          </section>
        {:else}
          <Alert color="green" class="mb-3">
            <div slot="title">No Teams Exist</div>
            Looks like no teams exist yet! Team Captains, go register your team on the
            <a href="#team-management">Team Management Tab</a>!
          </Alert>
        {/if}
      {/await}
    </div>
  </section>
</div>
