<script lang="ts">
  import { getEventTeamsByDomain } from '$lib/util/apiHelpers';
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import TeamTable from '$lib/components/pages/team-dashboard/TeamTable.svelte';
  import { userId } from '$stores/authStore.js';
  import Divider from '$lib/components/ui-elements/Divider.svelte';
  import Alert from '$lib/components/ui-elements/Alert.svelte';

  async function getTeams() {
    // don't display teams with the current user on it
    return (await getEventTeamsByDomain()).filter((t) => !t.eventTeamUsers?.find((u) => u.userId === $userId));
  }
</script>

{#await getTeams() then teams}
  {#if teams?.length > 0}
    <section class="w-full pt-4">
      <HeaderWithBackdrop size="sm" secondary wrap>Discover Existing Teams</HeaderWithBackdrop>
      <p>
        These Teams already exist at <i>your Institution</i>. Interested in joining one? Contact the team captain today!
      </p>
      {#each teams as team, idx}
        <div class="ml-2 mt-3 col-span-3 self-center">
          <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="">
              <span class="font-bold">Team: </span>{team.name}
            </div>
            <div>
              <span class="font-bold">Event: </span>{team.event?.name}
            </div>
          </div>
        </div>
        <div class="ml-2 mb-2 col-span-3 self-center">
          <TeamTable {team} hideControls />
        </div>

        <Divider items={Object.keys(teams)} {idx} />
      {/each}
    </section>

    <!-- Sort of hacky to put this alert here, but it works for now -->
    <Alert color="yellow" class="mb-3">
      <div slot="title">Existing Teams</div>
      Some teams already exist from your institution; Additional Teams may be created, but with some limitations:
      <ul class="list-disc list-inside py-2">
        <li>All teams must meet eligibility criteria, including minimum number of participants</li>
        <li>Teams from the same institution must all participate on the same event date</li>
        <li>Teams from the same institution may not communicate or collaborate with each other in any way</li>
      </ul>
      Please see
      <a href="/rules">Team Composition section 8 of the Rules</a>
      for more information.
    </Alert>
  {/if}
{/await}
