<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';

  const identities = [
    {
      ip: '72.0.139.181',
      started: new Date(new Date().getTime() - 7 * 24 * 60 * 60 * 1000),
      lastAccess: new Date(),
      expires: new Date(new Date().getTime() + 7 * 24 * 60 * 60 * 1000),
      clients: 'Account'
    },
    {
      ip: '72.0.139.187',
      started: new Date(new Date().getTime() - 12 * 24 * 60 * 60 * 1000),
      lastAccess: new Date(),
      expires: new Date(new Date().getTime() + 2 * 24 * 60 * 60 * 1000),
      clients: 'Client'
    }
  ];
</script>

<div>
  <section class="lg:w-fit">
    <HeaderWithBackdrop size="md" secondary wrap>Federated Identities</HeaderWithBackdrop>
  </section>

  <section>
    <section class="overflow-auto">
      <table class="table-auto mt-10 text-lg lg:text-xl">
        <thead class="text-secondary uppercase text-left">
          <tr>
            <th class="border border-slate-300 bg-slate-100 px-8 py-1">IP</th>
            <th class="border border-slate-300 bg-slate-100 px-8 py-1">Started</th>
            <th class="border border-slate-300 bg-slate-100 px-8 py-1">Last Access</th>
            <th class="border border-slate-300 bg-slate-100 px-8 py-1">Expires</th>
            <th class="border border-slate-300 bg-slate-100 px-8 py-1">Clients</th>
          </tr>
        </thead>
        <tbody>
          {#each identities as identity}
            <tr>
              <td class="border border-slate-300 px-8 py-1">{identity.ip}</td>
              <td class="border border-slate-300 px-8 py-1">{identity.started.toLocaleString()}</td>
              <td class="border border-slate-300 px-8 py-1">{identity.lastAccess.toLocaleString()}</td>
              <td class="border border-slate-300 px-8 py-1">{identity.expires.toLocaleString()}</td>
              <td class="border border-slate-300 px-8 py-1">{identity.clients}</td>
            </tr>
          {/each}
        </tbody>
      </table>
    </section>
    <button class="cursor-pointer bg-cyber-blue-900 text-white text-xl font-semibold py-1 px-10 w-fit mt-5"
      >Logout All Sessions</button>
  </section>
</div>
