<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import Spinner from '$lib/components/ui-elements/Spinner.svelte';
  import { getMessagesForUser } from '$lib/util/apiHelpers';
  import { userId } from '$stores/authStore';
  import Divider from '$lib/components/ui-elements/Divider.svelte';

  const messages = getMessagesForUser($userId || 0);
</script>

<div class="max-w-fit">
  <div class="w-full mx-auto mb-10">
    <HeaderWithBackdrop size="sm" secondary>Messages</HeaderWithBackdrop>
  </div>
  {#await messages}
    <div class="self-center my-auto">
      <Spinner />
    </div>
  {:then messages}
    {#if !(messages?.length > 0)}
      <p>Important Messages about upcoming events will be posted here.</p>
    {:else}
      <ul class="flex flex-col gap-4">
        {#each messages.sort((a, b) => b.messageId - a.messageId) as message, idx}
          <li class="grid grid-cols-10 gap-2">
            <!--  <span>{message.seenOn ? '' : 'New!'}</span> -->
            <!--  <span class="col-span-9 lg:col-span-2">{new Date(message.announcedOn).toLocaleString()}</span> -->
            <span class="col-span-full">{@html message.content}</span>
          </li>
          <Divider items={messages} {idx} />
        {/each}
      </ul>
    {/if}
  {:catch _}
    <div class="flex h-full items-center justify-center mt-10 lg:mt-0">
      <h1 class="text-center italic">Unable to retrieve checklist items.</h1>
    </div>
  {/await}
</div>
