<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import Spinner from '$lib/components/ui-elements/Spinner.svelte';
  import { getEventTeamChecklistItems, type EventTeam } from '$lib/util/apiHelpers';
  import TeamChecklistItem from '$lib/components/pages/user-dashboard/TeamChecklistItem.svelte';
  import { getEventTeamsByDomain } from '$lib/util/apiHelpers.js';

  export let team: EventTeam;

  let checklistItems = getEventTeamChecklistItems(team.id);
</script>

<HeaderWithBackdrop size="sm" secondary>Action Items</HeaderWithBackdrop>
<div class="flex flex-col h-full">
  <ul class="flex flex-col align-center gap-4">
    {#key team}
      <!-- static checklist item - other teams check -->
      <TeamChecklistItem
        completed={team.eventTeamUsers && team.eventTeamUsers.length > 1 && team.eventTeamUsers.length <= 10}>
        <span slot="title">Team Size</span>
        <span slot="description">Team size is between 2 and 10 members</span>
      </TeamChecklistItem>
      {#await getEventTeamsByDomain() then altTeams}
        <TeamChecklistItem completed={altTeams.every((alt) => alt.eventId === team.eventId)}>
          <span slot="title">Institution Teams are participating in the same Event</span>
          <span slot="description">
            <p>
              Each Institution may only compete on a single event date. Institutions with teams registered for multiple
              events must delete teams for all events except one before being eligible to participate. Please see Team
              Composition Section 8 of <a href="/rules">the rules</a> for more information.
            </p>
            <p class="pt-1">
              Other teams from your institution can be found on the <a href="#discover">Discover Teams</a> tab.
            </p>
          </span>
        </TeamChecklistItem>
      {/await}
    {/key}
    {#await checklistItems}
      <div class="self-center my-auto">
        <Spinner />
      </div>
    {:then checklistItems}
      {#each checklistItems.sort( (a, b) => (!a.completedOn ? -1 : !b.completedOn ? 1 : +b.completedOn - +a.completedOn) ) as item}
        <TeamChecklistItem completedOn={item.completedOn}>
          <span slot="title">{item.title}</span>
          <span slot="description">{item.description}</span>
        </TeamChecklistItem>
      {/each}
    {:catch}
      <div class="flex h-full items-center justify-center mt-10 lg:mt-0">
        <h1 class="text-center italic">Unable to retrieve checklist items.</h1>
      </div>
    {/await}
  </ul>
</div>
