<script lang="ts">
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import {
    createEventTeamUser,
    deleteEventTeamUser,
    deleteEventTeam,
    getUserByEmail,
    type Event,
    type EventTeam,
    tryParseApiError,
    getEventTeamById
  } from '$lib/util/apiHelpers';
  import { userId } from '$stores/authStore';
  import TeamTable from '../team-dashboard/TeamTable.svelte';

  export let team: EventTeam;
  export let event: Event | undefined;
  export let onUpdate: (team?: EventTeam) => Promise<void> = _updateTeam;

  let addMemberInput: string;
  // Notification strings
  let modifyMemberResult: string | null = null;
  let modifyMemberError: string | null = null;

  // Internal Function to act as a default for onUpdate
  async function _updateTeam(t?: EventTeam) {
    if (t) team = await getEventTeamById(t.id);
  }

  async function addMember(email: string) {
    modifyMemberResult = null;
    modifyMemberError = null;
    let user;

    // first try-get user
    try {
      user = await getUserByEmail(email);
    } catch (e) {
      modifyMemberError = tryParseApiError(e);
      if (modifyMemberError?.startsWith('User not found')) {
        modifyMemberError += ' - Have they created an NCAE Cyber Games Account?';
      }
      return;
    }

    // then try to add them to the team
    try {
      const teamUser = await createEventTeamUser(team.id, user.id);
      if (!teamUser) {
        modifyMemberError = 'Could not add user';
        return;
      }
      addMemberInput = '';
      modifyMemberResult = 'Teammate Added!';
      void onUpdate(team);
    } catch (e) {
      modifyMemberError = tryParseApiError(e);
    }
  }

  async function removeMember(id: number) {
    modifyMemberError = null;
    modifyMemberResult = null;
    try {
      await deleteEventTeamUser(id);
      modifyMemberResult = 'Teammate Removed!';
    } catch (e) {
      modifyMemberError = tryParseApiError(e);
    }
    void onUpdate(team);
  }

  async function deleteTeam(teamId: number) {
    if (window.confirm('Are you sure you want to delete this team?')) {
      try {
        await deleteEventTeam(teamId);
        modifyMemberResult = 'Team Deleted!';
        void onUpdate(undefined);
      } catch (e) {
        modifyMemberError = tryParseApiError(e);
      }
      event = undefined;
    }
  }
</script>

<HeaderWithBackdrop size="sm" secondary>Team Dashboard</HeaderWithBackdrop>
{#if event}
  <h1 class="text-center text-3xl font-semibold uppercase">
    {event.name} - <span class="text-cyber-blue-500">{event.startsOn.toLocaleDateString()}</span>
  </h1>
{/if}
<h1 class="text-2xl font-semibold text-cyber-blue-500 mt-10">Current Team Roster</h1>

<div class="w-full">
  <TeamTable {team} {removeMember} {deleteTeam} />

  {#if team.createdByUserId === $userId}
    <form
      class="flex flex-col gap-5 text-xl font-semibold mt-10 w-full"
      on:submit|preventDefault={() => addMember(addMemberInput)}>
      <section>
        <label for="team-name" class="block">Add Teammate: </label>
        <input
          class="inline border rounded text-md font-normal p-1 mr-5 w-full sm:w-1/2 lg:w-3/4"
          id="team-name"
          type="email"
          placeholder="Teammate's Email"
          required
          autofocus
          bind:value={addMemberInput} />
        <input
          class="cursor-pointer inline bg-cyber-blue-900 text-white py-1 px-10 w-fit mt-1 max-sm:w-full"
          type="submit"
          value="Add" />
        {#if modifyMemberResult}
          <div role="alert" class="pt-2">
            <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">Success</div>
            <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
              <p>{modifyMemberResult}</p>
            </div>
          </div>
        {/if}
        {#if modifyMemberError}
          <div role="alert" class="pt-2">
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">Error</div>
            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
              <p>{modifyMemberError}</p>
            </div>
          </div>
        {/if}
      </section>
    </form>
  {/if}
</div>
