<script lang="ts">
  import completeImg from '$lib/assets/images/user_page/complete.png';
  import incompleteImg from '$lib/assets/images/user_page/incomplete.png';
  import Fa from 'svelte-fa';
  import { faXmarksLines } from '@fortawesome/free-solid-svg-icons';

  export let completed = false;
  export let completedOn: Date | undefined = undefined;
  export { clazz as class };
  let clazz: string | undefined = '';
</script>

<li class="grid grid-cols-4 {clazz || ''}">
  <div class="col-span-1">
    {#if completed || completedOn}
      <img class="m-auto" src={completeImg} alt="Complete" />
    {:else}
      <img class="m-auto" src={incompleteImg} alt="Complete" />
    {/if}
  </div>
  <div class="ml-4 col-span-3 self-center">
    <span class="font-semibold"><slot name="title" /></span>
    {#if completedOn}
      <span class="italic text-cyber-blue-800">{completedOn.toLocaleDateString()}</span>
    {/if}
    <p><slot name="description" /></p>
  </div>
</li>
