<script lang="ts">
  import { userId } from '$stores/authStore';
  import { user } from '$stores/authStore';

  import {
    getEvents,
    getEventTeamById,
    getEventTeamUsersForUser,
    type EventTeam,
    type EventTeamUser,
    type Event,
    type Institution,
    getInstitutions
  } from '$lib/util/apiHelpers';
  import CreateTeam from './CreateTeam.svelte';
  import TeamDashboard from './TeamDashboard.svelte';
  import Spinner from '$lib/components/ui-elements/Spinner.svelte';
  import TeamChecklist from './TeamChecklist.svelte';
  import Alert from '../../ui-elements/Alert.svelte';
  import ExistingTeams from '$lib/components/pages/user-dashboard/ExistingTeams.svelte';

  let userTeams: EventTeamUser[];
  let teams: EventTeam[];
  let events: Event[];
  // institutions relevant to the current user or team
  let institutions: Institution[] | undefined;
  let ready: Promise<unknown> = loadData();

  let selectedTeam: EventTeam | null | undefined = null;

  async function loadData() {
    await Promise.all([loadEvents(), loadTeams()]);
    if (!selectedTeam && teams.length > 0) selectedTeam = teams[0];
  }

  async function loadEvents() {
    try {
      /* eslint @typescript-eslint/no-non-null-assertion: off*/
      // this will always exist because this page can't be loaded without auth
      let domain = $user!.email.split('@')[1];
      // drop any subdomains from email
      if (domain) domain = domain.split('.').slice(-2).join('.');
      const userInstitutions = await getInstitutions({ domain });

      if (userInstitutions.length > 1) {
        // todo handle this
        console.warn('more than 1 institution found for current user');
      }

      if (userInstitutions.length == 0) {
        console.warn('no institutions found for current user');
      }

      institutions = userInstitutions;
    } catch (err) {
      console.error("failed to institution from user's email domain", err);
    }

    // query for events with the current user's institution, if available
    events = await getEvents(institutions && institutions.length > 0 ? { region: institutions[0].region } : {});
  }

  async function loadTeams() {
    userTeams = await getEventTeamUsersForUser($userId || 0);
    // todo optimize this query
    teams = await Promise.all(userTeams.map((userTeam) => getEventTeamById(userTeam.eventTeamId)));
  }

  async function onUpdate(team?: EventTeam) {
    await loadData();
    // get selected team from teams list, so we know we have most updated data
    if (team) {
      selectedTeam = teams.find((t) => t.id === team.id);
    } else {
      selectedTeam = undefined;
    }
  }

  async function onTeamUpdate(team?: EventTeam) {
    if (team) {
      // assign to ready to trigger the loading spinner while the selectedTeam is updated
      ready = getEventTeamById(team.id);
      selectedTeam = (await ready) as EventTeam;
    } else {
      // otherwise, update all data
      selectedTeam = undefined;
      await loadTeams();
    }
  }
</script>

<div class="my-10 w-full">
  <section class="flex flex-col mx-5 xl:mx-auto xl:w-2/3">
    {#await ready}
      <div class="w-full h-64">
        <div class="self-center mx-auto my-auto">
          <Spinner />
        </div>
      </div>
    {:then _}
      {#if teams.length > 0}
        <div class="text-xl mb-10">
          <label for="option-select">Select a Team:</label>
          <select id="option-select" bind:value={selectedTeam} class="max-w-full">
            {#each teams as team}
              <option value={team}>
                {team.name} - {events.find((event) => team.eventId === event.id)?.startsOn.toLocaleDateString()}
              </option>
            {/each}
            <option value={undefined}>Create a Team</option>
          </select>
        </div>
      {/if}

      <div class="flex flex-col">
        {#if !(institutions && institutions.length > 0)}
          <div role="alert" class="pt-2">
            <div class="bg-orange-500 text-white font-bold rounded-t px-4 py-2">Institution Not Found</div>
            <div class="border border-t-0 border-orange-400 rounded-b bg-orange-100 px-4 py-3">
              Your Institution could not be determined. Please reach out to support with your Name, Institution/School
              Name, and Email Address.

              <br /><br />
              <b>Note:</b> The NCAE Cyber Games are only open to
              <a target="_blank" href="https://www.caecommunity.org/cae-map">CAE Schools</a>. This list may be out of
              date; if you believe your school is a CAE school and is not listed here, please contact support.
            </div>
          </div>
        {:else if !selectedTeam}
          <ExistingTeams />
          <Alert color="blue">
            <div slot="title">Important note about Team Creation</div>
            Faculty Liaisons should&nbsp;<b>not</b> create teams for their students or clubs. Each team should be created
            by the Team Captain for that team. New team captains can be promoted after the team is created, up until registration
            for an event closes.
          </Alert>
          <CreateTeam {events} {institutions} onCreate={onUpdate} />
        {:else}
          <TeamDashboard
            onUpdate={onTeamUpdate}
            team={selectedTeam}
            event={events.find((event) => selectedTeam?.eventId === event.id)} />
          <div class="my-5" />
          <TeamChecklist team={selectedTeam} />
        {/if}
      </div>
    {/await}
  </section>
</div>
