<script lang="ts">
  // import Achievements from './Achievements.svelte';
  // import ActionItems from './ActionItems.svelte';
  import Messages from './Messages.svelte';
</script>

<div class="my-10 w-full">
  <section class="flex flex-col gap-10 mx-10 xl:mx-auto xl:w-2/3">
    <Messages />

    <!--    <ActionItems />-->

    <!-- <Achievements /> -->

    <!-- <Badges /> -->
  </section>
</div>
