<script lang="ts">
  import { user, keycloakTokenParsed, keycloakToken } from '$stores/authStore';
  import { hasApiRole } from '$lib/components/layout/data/nav-tabs';
</script>

<div class="text-center mx-2">
  <div class="text-2xl lg:text-4xl">
    <span class="text-[#368DE3] font-bold uppercase">
      {$user?.firstName || ''}
    </span>
    <!-- This break puts the name on different lines on desktop but same line on mobile -->
    <br class="hidden lg:block" />
    <span class="text-[#368DE3] font-bold uppercase break-words">
      {$user?.lastName || ''}
    </span>
  </div>
  <div class="text-md lg:text-xl">
    <p class="text-primary italic">{$user?.email}</p>
    <a
      class="text-secondary italic"
      href="{import.meta.env.VITE_KEYCLOAK_URL}/realms/{import.meta.env.VITE_KEYCLOAK_REALM}/account/password"
      target="_blank">
      Change my Password
    </a>
    {#if hasApiRole($keycloakTokenParsed, 'staff')}
      <br />
      <a
        class="cursor-pointer"
        on:click={() => {
          navigator.clipboard.writeText($keycloakToken || '');
        }}>Copy JWT</a>
    {/if}
  </div>
</div>
