<script lang="ts">
  import HeroBanner from '$lib/components/layout/HeroBanner.svelte';
  import TeamTable from '$lib/components/pages/team-dashboard/TeamTable.svelte';
  import { getAllTeams, getTeamSummaryExport, type TeamFilter } from '$lib/util/apiHelpers';
  import Badge from '$lib/components/ui-elements/Badge.svelte';
  import Dropdown from '$lib/components/ui-elements/Dropdown.svelte';
  import EventSelectionDropdown from '$lib/components/helpers/EventSelectionDropdown.svelte';
  import Spinner from '$lib/components/ui-elements/Spinner.svelte';
  import moment from 'moment';
  import { deleteEventTeam, deleteEventTeamUser } from '$lib/util/apiHelpers.js';

  // let filters: TeamFilter & { region?: string } = {};
  let filters: TeamFilter = {};
  let teams = getAllTeams(filters);
  const regions = ['southeast', 'northeast', 'midwest', 'southwest', 'northwest'];

  function updateFilter(field: keyof TeamFilter, val: string) {
    // @ts-ignore not sure why we're getting an error here
    // Type 'string' is not assignable to type 'undefined'.
    if (val != null) filters[field] = val;
    else delete filters[field];
    teams = getAllTeams(filters);
  }

  function handleEventFilter(evt: CustomEvent) {
    updateFilter('eventId', evt.detail);
  }

  function handleRegionFilter(evt: CustomEvent) {
    updateFilter('region', evt.detail);
  }

  function handleMinMembersFilter(evt: CustomEvent) {
    updateFilter('minMembers', evt.detail);
  }

  function handleMaxMembersFilter(evt: CustomEvent) {
    updateFilter('maxMembers', evt.detail);
  }

  async function deleteTeam(teamId: number) {
    if (!window.confirm(`Confirm deleting team ${teamId}?`)) return;
    await deleteEventTeam(teamId);
    teams = getAllTeams(filters);
  }

  async function removeMember(teamMemberId: number) {
    if (!window.confirm(`Confirm deleting team member?`)) return;
    await deleteEventTeamUser(teamMemberId);
    teams = getAllTeams(filters);
  }
</script>

<HeroBanner>
  <div slot="title">Team Management</div>
</HeroBanner>

<div class="p-5 max-w-fit w-full xl:w-4/5 2xl:w-2/3 mx-auto">
  <Dropdown
    class="ml-0 m-1 max-md:block"
    on:select={handleMinMembersFilter}
    title="Min Members"
    options={[...Array(10).keys()].map((v) => v.toString())} />
  <Dropdown
    class="m-1 max-md:block max-md:ml-0"
    on:select={handleMaxMembersFilter}
    title="Max Members"
    options={[...Array(10).keys()].map((v) => v.toString())} />
  <Dropdown class="m-1 max-md:block max-md:ml-0" on:select={handleRegionFilter} title="Region" options={regions} />
  <EventSelectionDropdown class="m-1 max-md:block max-md:ml-0 md:w-72" on:select={handleEventFilter} />
  <!-- export button -->
  <div
    on:click={() => getTeamSummaryExport(filters)}
    class="cursor-pointer bg-cyber-blue-900 text-white my-1 py-1 px-5 w-fit float-right inline-block md:ml-5"
    type="submit">
    Export as CSV
  </div>
  {#await teams}
    <div class="flex flex-col items-center justify-center m-10">
      <Spinner size="20" class="mb-5" />

      Loading Teams...
    </div>
  {:then teams}
    <span class="font-bold inline-block">{teams.length} Total Teams</span>
    {#each teams as team}
      <div class="block [&:not(:first-child)]:pt-5 pb-2">
        <span class="text-xl font-semibold">{team.name}</span>
        {#if team.event}
          <Badge color="amber">{moment(team.event.startsOn).format('MMM Do YYYY')}</Badge>
        {/if}
        <Badge color="cyan">{team.eventTeamUsers?.length || '?'} Members</Badge>
        {#each team.event?.regions || [] as region}
          <Badge color="slate">{region}</Badge>
        {/each}
        {#if team.event}
          <Badge class="max-lg:hidden" color="green">{team.event.name}</Badge>
        {/if}
      </div>
      <TeamTable {team} {deleteTeam} {removeMember} />
    {/each}
  {/await}
</div>
