<script lang="ts">
  import { openLightbox } from '$lib/util/lightboxHelpers';
  import HeaderWithBackdrop from '$lib/components/ui-elements/HeaderWithBackdrop.svelte';
  import tutorials from './tutorials';
  import TutorialsVideoIcon from './TutorialsVideoIcon.svelte';

  const categories = Array.from(new Set(tutorials.map((t) => t.category)));

  function openLightboxHandler(tutorial: any) {
    openLightbox({ title: tutorial.title, src: tutorial.href });
  }
</script>

<div>
  {#each categories as category}
    <div class="my-10 md:my-20 first:mt-10 flex flex-col justify-center text-secondary w-4/5 content-center mx-auto">
      <HeaderWithBackdrop size="md" secondary>
        {category}
      </HeaderWithBackdrop>
    </div>
    <div class="w-4/5 mx-auto">
      <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-8 gap-y-4 in:fade">
        {#each tutorials.filter((t) => t.category === category) as tutorial}
          <li on:click={() => openLightboxHandler(tutorial)}>
            <TutorialsVideoIcon title={tutorial.title} />
          </li>
        {/each}
      </ul>
    </div>
  {/each}
</div>
