<script lang="ts">
  import background from '$lib/assets/images/tutorials/video_bg.png';

  export var title: string;
</script>

<div class="video-icon cursor-pointer border-2">
  <img class="border-2 cursor-pointer" src={background} alt={title} />
  <h3 class="video-icon-txt">{title}</h3>
</div>

<style>
  .video-icon {
    margin: 3%;
    position: relative;
  }
  .video-icon:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      45deg,
      rgba(11, 47, 88, 0.9) 20%,
      rgba(23, 77, 139, 0.8) 70%,
      rgba(35, 137, 221, 0.8) 100%
    );
  }
  .video-icon-txt {
    position: absolute;
    bottom: 10%;
    left: 15%;
    display: inline-block;
    white-space: normal;
    word-wrap: normal;
    width: 70%;
    max-width: 70%;
    color: white;
    font-size: 18pt;
    font-weight: bold;
  }
</style>
