<script lang="ts">
  import HeroBanner from '$lib/components/layout/HeroBanner.svelte';
  import PageHeader from '$lib/components/layout/PageHeader.svelte';
  import cards from '$lib/components/pages/about/about-cards';
  import AboutCard from '$lib/components/pages/about/AboutCard.svelte';

  export const prerender = true;
</script>

<PageHeader title="About" />

<HeroBanner>
  <h1 class="my-10" slot="title">Welcome to your first <em>Cyber Competition</em></h1>
</HeroBanner>

<section class="grid grid-rows-1 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 mt-20 mx-10 lg:ml-0">
  <div class="hidden lg:block relative h-96">
    <div
      class="relative lg:absolute bottom-1/3 w-full h-full bg-[url('$lib/assets/images/about/about_page_computer.png')] bg-contain bg-no-repeat" />
  </div>
  <div class="xl:col-span-2" style="max-width: 1100px">
    <h1 class="text-4xl lg:text-6xl font-bold text-secondary uppercase text-center lg:text-left">
      What's this all about?
    </h1>
    <p class="text-xl leading-loose text-cyber-blue-900">
      NCAE Cyber Games is a competition for college students who have never participated in a competition or hackathon
      before. Competitions are a great way to build your skills and learn about the industry, but they can be
      intimidating if you’ve never tried one before. This program aims to make it easy (and fun) for students to see how
      competitions work and learn with others who are also new.
    </p>
  </div>
</section>

<section class="mx-10 mt-10 xl:mt-0">
  <h1 class="text-4xl lg:text-6xl font-bold text-secondary uppercase text-center">
    Why should I compete in challenges?
  </h1>
  <p class="text-center text-2xl md:text-3xl text-cyber-blue-900">
    <em>
      If you’re thinking about pursuing a career in cybersecurity, participating in cyber competitions provide several
      big benefits:
    </em>
  </p>
</section>

<section
  class="my-20 lg:mt-40 mx-10 flex flex-col sm:grid grid-cols-2 grid-rows-2 lg:grid-rows-1 lg:grid-cols-4 gap-5 xl:gap-10">
  {#each cards as card}
    <AboutCard {...card} />
  {/each}
</section>
