<script>
  import PageHeader from '$lib/components/layout/PageHeader.svelte';
</script>

<PageHeader title="User Registration" />

<section class="bg-cyber-gray-500 text-cyber-blue-900 text-center p-8 h-96">
  <h3 class="text-2xl md:text-4xl">***Under construction***</h3>
</section>
